.Hcontainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #eb6b83;

  font-size: 30px;
  font-weight: bold;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  color: #eb6b83;
}

.logoTitle {
  font-size: 16px;
  text-decoration: none;
  color: #eb6b83;
}

.logoTitle,
.loginIcon,
.logoutIcon,
.mypageIcon {
  cursor: pointer;
}
