.Hcontainer {
  width: 100%;
  max-width: 480px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  border-bottom: 1px solid blue;
  background-color: #fff;
  color: #eb6b83;
  overflow: hidden;

  font-size: 30px;
}
