.contentContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 반응형 격자 형태로 설정 */
  gap: 20px; /* 격자 사이 간격 설정 */
  padding: 20px;
}

.EventItem {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.EventItem img {
  width: 90%;
  margin-bottom: 10px;
  align-self: center;
}

.EventItem h3 {
  font-size: 20px;
  margin-bottom: 10px;
  /* white-space: nowrap; 텍스트가 한 줄로 유지되도록 설정 */
  overflow: hidden; /* 넘치는 텍스트를 숨깁니다 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
  /* width: 100%; 부모 요소의 너비에 맞게 설정 */
}

.EventItem p {
  font-size: 16px;
  margin-bottom: 8px;
}
