.contentContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 반응형 격자 형태로 설정 */
  gap: 20px; /* 격자 사이 간격 설정 */
  padding: 20px;
}
.contentBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* 요소를 수평으로 중앙 정렬 */
}

.EventItem {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.EventItem img {
  width: 90%;
  margin-bottom: 10px;
  align-self: center;
}

.EventItem h3 {
  font-size: 20px;
  margin-bottom: 10px;
  /* white-space: nowrap; 텍스트가 한 줄로 유지되도록 설정 */
  overflow: hidden; /* 넘치는 텍스트를 숨깁니다 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
  /* width: 100%; 부모 요소의 너비에 맞게 설정 */
}

.EventItem p {
  font-size: 16px;
  margin-bottom: 8px;
}

.loadMoreBtn {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  font-size: 16px; /* 글자 크기 */
  cursor: pointer; /* 커서 모양 변경 */
  background-color: #e78295; /* 버튼 배경색 */
  color: white; /* 버튼 글자색 */
  border: none; /* 기본 테두리 제거 */
  transition: background-color 0.3s; /* 배경색 전환 효과 */
  text-align: center;

}

.noMoreData {
  margin-top: 20px; /* 메시지와 위 요소 간의 간격 조정 */
  font-size: 16px; /* 글자 크기 */
  color: #888; /* 글자색 */
}
