.filterContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.dropdownBtn,
.searchBtn {
  background-color: white;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdownBtn:focus,
.searchBtn:focus {
  outline: none;
}

.dropdownMenu {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 30%;
  max-height: 200px; /* 최대 높이 설정 (5개 항목) */
  overflow-y: auto; /* 수직 스크롤 가능하게 설정 */
  top: calc(100%); /* dropdown-btn 바로 아래에 표시되도록 조정 */
  left: 0;
}

.dropdownItem {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

.dropdownItem:hover,
.dropdownItem.selected {
  background-color: #efefef;
}

.searchInput {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box;
}
